<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }

        .image-container {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-frame {
            max-width: 100%; 
            margin: 10px;
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            display: block; 
            margin: 0 auto; 
        }
    </style>
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fraud Detection AI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Analysis <span class="sr-only"></span></a>
                    </li>                    
                </ul>
            </div>
        </nav>
        <br><br>
        <h1 class="text-center">Analysis Results</h1><br><br>

        <div class="row">
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Banks</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs bank.png') }}" class="card-img-top" alt="Plot 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Card Type</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Card Type.png') }}" class="card-img-top"
                        alt="Plot 2">
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Country of Residence</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Country of residence.png') }}" class="card-img-top" alt="Plot 1"> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Country of Transaction</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Country of transaction.png') }}" class="card-img-top"
                        alt="Plot 2">
                    
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds vs Shipping Addresses</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Shipping Address.png') }}" class="card-img-top" alt="Plot 1">
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Time of the day</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Time.png') }}" class="card-img-top"
                        alt="Plot 2">
                    
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Merchant Group</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Merchant Group.png') }}" class="card-img-top" alt="Plot 1">
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card image-frame">
                    <div class="card-body">
                        <h5 class="card-title">Frauds Vs Gender</h5>
                    </div>
                    <img src="{{ url_for('static', filename='Fraud vs Gender.png') }}" class="card-img-top"
                        alt="Plot 2">
                    
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-P1SO8FZ4/H8pEABVhBCmGvZxI9RcZbsx6K4EVRc3pBDwP0cysZx8Au7pK37gE7CC"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
